.App {
  text-align: center;
  color: #fff;
}

h1 {
  font-weight: 600;
  font-size: 4em;
  text-align: center;

  margin: 0.2rem 0.5rem;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 0;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

h5 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.horizontal-margin {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.no-margin {
  margin: 0;
}

.gutter {
  gap: 1.2rem;
}
