.hero-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   background-image: radial-gradient(rgb(25, 41, 58), rgba(23, 37, 53, 0));
 */
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

.main-box-inner {
  width: 100vw;
  height: 100%;

  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*Really confusing naming here*/
.main-box-content {
  width: 80%;
}

.main-box-inner img {
  position: relative;
  height: 100%;
  height: clamp(100%, 70vh, 100%);
  object-fit: cover;
}

.upper-content {
  display: flex;
  justify-content: center;
}

.hero-icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
