.hero-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   background-image: radial-gradient(rgb(25, 41, 58), rgba(23, 37, 53, 0));
 */
}

.main-box-inner {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.upper-content {
  display: flex;
  justify-content: center;
}

.hero-icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
