.contactSection {
  min-height: 100vh;
  background-color: #1a1a1a;
  margin-top: -1px;
  padding-bottom: 100px;
}
.contactHeader {
  display: flex;
  flex-direction: column;
  color: #00c896;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
  padding: 8rem 0 2rem 0;
}

.contactHeader h1 {
  margin: 0px;
  font-size: 36px;
  font-weight: 500;
}

.contactP {
  color: #c8fcea;
  max-width: 50%;
}
