.contactSection {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-color: #1a1a1a;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.contactHeader {
  display: flex;
  flex-direction: column;
  color: #00c896;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 15%;
  padding: 0 0 2rem 0;
}

.contactHeader h1 {
  margin: 0px;
  font-size: 36px;
  font-weight: 500;
}

.contactP {
  color: #c8fcea;
  max-width: 400px;
  font-size: 1.2rem;
}

.contactForm {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.plane {
  margin: 0 0 0 10px;
}

.scrollArrows {
  margin: 8rem 0 2rem 0;
}
